<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User - <%= user.name %></title>
</head>
<body>
    <div>
        <h3>User Details: </h3>
        <p>Name: <b style="color: royalblue; text-align: center;"><%= user.name %></b></p>
        <p>Email: <b style="color: red; text-align: center;"><%= user.email %></b></p>
        <p>Age: <b style="color: peru; text-align: center;"><%= user.age %></b></p>
        <p>Company: <b style="color: rgb(134, 55, 55); text-align: center;"><%= user.company %></b></p>
    </div>
</body>
</html>